root_utils/__pycache__
taketest/migrations/__pycache__
taketest/__pycache__
# taketest/migrations/0*
estudiebuddie_backend/__pycache__
hooks/__pycache__
db.sqlite3
shufflequestions/utils/__pycache__
shufflequestions/migrations/__pycache__
shufflequestions/__pycache__
contribute/migrations/__pycache__
contribute/__pycache__
# contribute/migrations/0*
defaultpage/migrations/__pycache__
defaultpage/__pycache__
# defaultpage/migrations/0*
venv_studdiebudie
hooks/dont_push.py
public
contribute/utils/__pycache__
auth_app/migrations/__pycache__
auth_app/__pycache__
# auth_app/migrations/0*
user/migrations/__pycache__
user/__pycache__
take_quiz/migrations/__pycache__
take_quiz/__pycache__
# take_quiz/migrations/0*
# user/migrations/0*
# shufflequestions/migrations/0*
school/migrations/__pycache__
school/__pycache__
# school/migrations/0*
.env
media
